html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  p {
    padding: 20px;
  }

  @media screen and (max-width: 600px){
    body {
      background-color: pink;
    }

    header {
      font-size: x-large;
      display: flex;
      justify-content: center;
      margin: 5px;
      margin-bottom: 10px;
    }

    header ul {
      display: none;
    }

    h1 {
      margin: 20px;
      font-size: large;
      text-align: center;
    }


    h2 {
      text-align: center;
    }

    footer h3 {
      text-align: center;
    }
  }

  @media screen and (min-width: 600px) {
    body {
      margin: 20px;
      background-color: yellowgreen;
    }

    p {
      text-align: center;
      font-weight: 600;
    }

    footer h3 {
      text-align: center;
    }
  }

  @media screen and (min-width: 1000px) {
    body {
      background-color: aquamarine;
    }

    .container {
      flex-wrap: nowrap;
    }

    footer h3 {
      text-align: center;
    }
  }