/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
  
  }
  
  article {
    font-size: x-large;
  
  }
  
  h1 {
    font-size: smaller;
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 30px;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media  screen and (max-width: 800px) {
    body {
        background-color: pink;
    }
    article {
        font-size: medium;
    }
    body {
        margin: 10px;
    }
    figure {
        display: inline-block;
        width: 40%;
        margin-right: 4.5%;
    }
  }

  @media screen and (min-width: 1200px) {
    body {
        background-color: crimson;
        margin: 40px;
        max-width: 1130px;
    }
    article {
        font-size: xx-large;
        max-width: 80%;
    }
    figure {
        display: inline-block;
       width: 40%;
       margin-right: 2.5%;
    }
  }