* {
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1,
h2,
h3 {
    text-align: center;
}

#nav {
    position: relative;
    text-align: center;
}

ul {
    list-style-type: none;
    color: bisque;
    outline-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_Y8_ln-HtCuwkZD5KLrrR40fdxkrlUdrMwA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: auto;
}

#aside {
position: relative;
text-align: center;

    
}

#footer {
    padding-top: 30px;
    position: relative;
    text-align: center;
}